.btn-primary {
    color: #fff;
    background-color: #5b7b26;
    border-color: #5b7b26;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #5b7b26;
    border-color: #5b7b26;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.jumbotron {
    background-color: #F5F5F5;
}

.bg-wedsite {
    background-color: #F5F5F5;
}