---
layout: page
title: Getting There
permalink: /getting-there/
---

<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <center><h1 class="animated fadeInUp" style="font-size:100px">Getting There</h1></center>
            </div>
        </div>
    </div>
</section>

<section id="intro" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-4">
                <img class="img-responsive" src="{{ site.baseurl }}/img/chateau-de-puissentut.jpg">
            </div> -->
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Chateau de Puissentut</h2>
                </div>
                <p>
                    Puissentut is nestled among rolling hills in the Gers in South West France, overlooking fields and woods with the Pyrenees mountains beyond. It is a rural idyll yet less than an hour from well-connected Toulouse (Blagnac) airport and 15 minutes away from all essential amenities.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="map-responsive">
                    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJUXFolBHfqxIRukJuPoTABxc&maptype=satellite&key=AIzaSyDXs3IjWvd5tmgucBTl5d3H0a6hyZiUGY4"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="intro">
<div class="container">
    <div class="jumbotron">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
            <center>
                <h2><span class="glyphicon glyphicon-plane"></span></h2>
                <div class="section-title">
                    <h2>PLANE</h2>
                </div>
            </center>
            Toulouse-Blagnac Airport (TLS) is served by BA, EasyJet and Ryanair.
            We recommend that you hire a car from the airport, the drive is about 60-80 minutes to Lectoure which is where the main accommodation is. There will also be some transport from airport available by us depending on flight times. Please let us know if you would like to ride with us.
            <br><center><i>[Approx 2 hours]</i></center>
        </div>
        <div class="col-lg-5">
            <center>
                <h2><i class="fa fa-train"></i></h2>
                <div class="section-title">
                    <h2>TRAIN</h2>
                </div>
            </center>
            Trains from London to Toulose run regularly. You can get then get a tram to Arènes, changing to train Saint-Cyprien ArènesTo Auch, followed by the 932 bus. This journey will take approx. 3 hours from Toulose to Lectoure.
            <br><br><center><i>[Approx 9 hours]</i></center>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <center>
                    <h2><i class="fa fa-car"></i></h2>
                    <div class="section-title">
                        <h2>CAR</h2>
                    </div>
                </center>
                You can use the Channel Tunnel and then follow routes to Lectoure. Please check up to date driving rules and regulations in France and adequate insurance.  Please note: British citizens are now considered 3rd country citizens and can no longer transit France by road to reach their country of residence in the EU so please be aware of this if hoping to transit through.
                <br><center><i>[Approx 12 hours]</i></center>
            </div>
            <div class="col-lg-5">
                <center>
                    <h2><i class="fa fa-ship"></i></h2>
                    <div class="section-title">
                        <h2>FERRY</h2>
                    </div>
                </center>
                <a href="https://www.brittany-ferries.co.uk/ferry-routes/ferries-spain/portsmouth-bilbao/about">Brittany Ferries</a> operate a 2-night crossing twice a week between Portsmouth and Bilbao (Spain), offering a full day at sea followed by a half-day drive across the picturesque Pyrenees mountain range.
                At around 5 hours drive between Bilbao and Homps, Gers this adventurous route cuts down on driven miles compared to the Channel Tunnel driving option.
                <br><br><center><i>[Approx 2 days]</i></center>
            </div>
        </div>
    </div>
</div>
</section>
