---
layout: page
title: Gift List
permalink: /gifts/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <center>
          <h1 class="animated fadeInUp" style="font-size: 100px">
            Your Presence is <br />Presents Enough
          </h1>
        </center>
      </div>
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>
          Please don’t feel obliged to purchase a gift, we’re just happy we can
          share our special day with our nearest and dearest. If you really
          would like to, we’ve made a list with
          <a href="https://www.weddingpresentco.com/find-list/113059/"
            >The Wedding Shop</a
          >
          to help set us up for married life.
        </p>
        <b>Thank you!</b>
      </div>
    </div>
  </div>
</section>
