---
layout: page
title: Ken and Charlies' Wedding Weekend
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <center>
          <h1 class="animated fadeInUp" style="font-size: 100px">
            Charlotte & Kenneth
          </h1>
          <h2><b>ARE GETTING MARRIED</b></h2>
        </center>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<section id="intro" style="padding-bottom: 0px">
  <div class="container-fluid">
    <div class="row">
      <center>
        <div class="col-md-3 col-md-offset-2">
          <div class="section-title">
            <br />
            <h1>Who</h1>
            <p>
              Our dearest family & friends<br />
              From near and far
            </p>
            <br />
          </div>
        </div>
        <div class="col-md-3">
          <div class="section-title">
            <h1>When</h1>
            <p>Saturday 23rd July 2022</p>
            <br />
          </div>
        </div>
        <div class="col-md-3">
          <div class="section-title">
            <h1>Where</h1>
            <p>
              Chateau de Puissentut<br />
              Lieu Dit Puissentut, 32120 Homps<br />
              Gers, France
            </p>
            <br />
          </div>
        </div>
      </center>
    </div>
    <div class="jumbotron">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-1">
          <img
            class="img-responsive"
            src="{{ site.baseurl }}/img/Charlie & Ken069.jpg"
            alt="Img"
          />
        </div>
        <!-- <div class="col-md-6">
          <img class="img-responsive" src="{{ site.baseurl }}/img/join-us.jpg" alt="Img">
        </div> -->
        <div class="col-lg-4">
          <br />
          <h1>The Weekend</h1>
          <hr />
          <p>
            Join us at
            <a href="{{ site.baseurl }}/getting-there">Chateau de Puissentut</a>
            for:
          </p>
          <div>
            <h3>Friday 22nd</h3>
            <p>
              <i>SAFARI WELCOME DINNER</i><br />
              <small>Bus departs at 4pm, returning at 11:30pm</small>
            </p>
          </div>
          <div>
            <h3>Saturday 23rd</h3>
            <p>
              <i>THE BIG DAY</i><br />
              <small>Bus departs at 2:30pm, returning at 1:30am</small>
            </p>
          </div>
          <div>
            <h3>Sunday 24th</h3>
            <p>
              <i>BRUNCH BY THE POOL</i><br />
              <small>Bus departs at 12:30pm, returning at 6pm</small>
            </p>
          </div>
          <hr />
          <p>
            <small
              >Transport to the venue and back from
              <a href="{{ site.baseurl }}/your-stay"
                >Hôtel Collège des Doctrinaires</a
              >
              will be provided for these events.</small
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
