---
layout: page
title: The Big Day
permalink: /the-big-day/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <center>
          <h1 class="animated fadeInUp" style="font-size: 100px">
            The Big Day
          </h1>
        </center>
      </div>
    </div>
  </div>
</section>

<!-- <section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <div class="section-title">
            <h2>Details to Follow</h2>
            <p>We will have more to share here closer to the day.</p>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="{{ site.baseurl }}/img/big-day/Charlie & Ken035.jpg" alt="Img" class="img-responsive">
      </div>
      <div class="col-md-4">
        <img src="{{ site.baseurl }}/img/big-day/Charlie & Ken056.jpg" alt="Img" class="img-responsive">
      </div>
      <div class="col-md-4">
        <img src="{{ site.baseurl }}/img/big-day/Charlie & Ken081.jpg" alt="Img" class="img-responsive">
      </div>
    </div>
  </div>
</section> -->
<section id="intro">
  <div class="container-fluid">
    <div class="jumbotron">
      <div class="row">
        <div class="col-lg-3 col-lg-offset-1" style="text-align: right">
          <hr />
          <div>
            <h3>Bus Collection</h3>
            <p>
              <small>Departs 2:30pm</small>
            </p>
          </div>
          <hr />
          <div>
            <h3>Welcome Drinks</h3>
          </div>
          <div>
            <h3>Ceremony</h3>
          </div>
          <div>
            <h3>Canapes & Bubbles</h3>
          </div>
          <div>
            <h3>Dinner</h3>
          </div>
          <div>
            <h3>Speeches</h3>
          </div>
          <div>
            <h3>First Dance</h3>
          </div>
          <div>
            <h3>Dancing</h3>
          </div>
          <div>
            <h3>Late Night Snacks</h3>
          </div>
          <hr />
          <div>
            <h3>Bus Returns</h3>
            <p>
              <small>Departs at 1:30am</small>
            </p>
          </div>
          <hr />
        </div>
        <!-- <div class="col-md-6">
    <img class="img-responsive" src="{{ site.baseurl }}/img/join-us.jpg" alt="Img">
  </div> -->
        <div class="col-lg-7">
          <img
            class="img-responsive"
            src="{{ site.baseurl }}/img/the-big-day.jpg"
            alt="Img"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-lg-offset-1">
        <div class="section-title">
          <h2>Dress</h2>
        </div>
        <p>
          Chinos and shirts, or summer dresses.
          <br />
          Jackets may be worn for the ceremony, but expect the weather to be too
          hot for them for most of the day.
          <br />
          Suits are strictly forbidden.
        </p>
      </div>
      <div class="col-lg-3">
        <div class="section-title">
          <h2>Shoes</h2>
        </div>
        <p>
          The chateau is surrounded by cobbles, gravel and grass. Wear shoes for
          dancing, not for stumbling.
        </p>
      </div>
      <div class="col-lg-3">
        <div class="section-title">
          <h2>Pictures</h2>
        </div>
        <p>
          We've asked a professional photographer to capture this special moment
          so that you can sit back, relax and enjoy it with us. Please turn off
          your cameras and devices until after the ceremony. We want to see your
          lovely faces and happy smiles! Our beautiful images will be available
          after the wedding.
        </p>
      </div>
    </div>
    <br />
  </div>
</section>
