---
layout: page
title: Your Stay
permalink: /your-stay/
---

<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <center>
          <h1 class="animated fadeInUp" style="font-size: 100px">Your Stay</h1>
        </center>
      </div>
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h2>Hôtel Collège des Doctrinaires</h2>
        </div>

        <p>
          We have reserved rooms at
          <a href="https://www.doctrinaires.fr/en/hotel/"
            >Hôtel Collège des Doctrinaires</a
          >
          in the nearby village of Lectoure. The hotel is ideally located in the
          historic centre of Lectoure, Gascony in the South West of France. A
          fortified town with ramparts Lectoure offers breath-taking views of
          the surrounding countryside and the Gascony valley, and offers
          exceptional architectural heritage with several historical monuments.
        </p>
        <p>
          The rooms have different rates depending on your needs and you will
          receive a 15% discount from regular pricing. Please email Hôtel
          Collège des Doctrinaires directly (<a
            href="mailto:doctrinaires@valvital.fr"
            >doctrinaires@valvital.fr</a
          >) <i>before May 1st</i> to book and pay for your room, referencing
          "Ken and Charlies' Wedding".
        </p>
      </div>
      <!-- <div class="col-md-6">
                <div class="map-responsive">
                    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJkSCaXiDTqxIRduGjL9BKZuQ&key=AIzaSyDXs3IjWvd5tmgucBTl5d3H0a6hyZiUGY4"></iframe>
                </div>
            </div> -->
      <div class="col-lg-6">
        <img
          class="img-responsive"
          src="{{ site.baseurl }}/img/lectoure-hotel-doctrinaires-exterieur.jpg"
          style="opacity: 0.7"
        />
      </div>
    </div>
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
          <div class="map-responsive">
            <iframe
              width="600"
              height="450"
              style="border: 0"
              loading="lazy"
              allowfullscreen
              src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJUXFolBHfqxIRukJuPoTABxc&destination=place_id:ChIJkSCaXiDTqxIRduGjL9BKZuQ&key=AIzaSyDXs3IjWvd5tmgucBTl5d3H0a6hyZiUGY4"
            ></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="section-title">
            <h2>Transport to the Venue</h2>
          </div>

          For guests staying at or near Hôtel Collège des Doctrinaires, we will
          be organising shuttle buses directly to and from the hotel and venue
          throughout the wedding weekend. Information regarding timings will be
          available for <a href="{{ site.baseurl }}">The Weekend</a> and
          <a href="{{ site.baseurl }}/the-big-day">The Big Day</a> closer to the
          time.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Alternatives</h2>
        </div>

        <p>
          We hope Hôtel Collège des Doctrinaires will suite everyone, but other
          accommodation is available on Hotel websites and
          <a
            href="https://www.airbnb.co.uk/s/Homps--Gers--France/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_dates%5B%5D=february&flexible_trip_dates%5B%5D=march&flexible_trip_lengths%5B%5D=weekend_trip&date_picker_type=calendar&query=Homps%2C%20Gers%2C%20France&place_id=ChIJQab0tz7fqxIRYARBL5z2BgQ&checkin=2022-07-21&checkout=2022-07-25&source=structured_search_input_header&search_type=autocomplete_click"
            >AirBnb</a
          >. If you do decide to stay elsewhere, we recommend staying close to
          either Chateu de Puissentut or Hôtel Collège des Doctrinaires (to make
          use of our shuttle bus detailed above).
        </p>
      </div>
    </div>
  </div>
</section>
