<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li>
              <a href="{{ site.baseurl }}/getting-there">Getting There</a>
            </li>
            <li><a href="{{ site.baseurl }}/your-stay">Your Stay</a></li>
            <li><a href="{{ site.baseurl }}/the-big-day">The Big Day</a></li>
            <li><a href="{{ site.baseurl }}/contact">RSVP</a></li>
          </ul>
        </div>
        <p style="font-size: 14px">
          I told her I don't do websites.<br />
          <p style="font-size: 7px">
            >Copyright &copy; All rights reserved. Design &amp; Developed by
            <a href="http://www.themefisher.com">Themefisher</a>.
          </p>
        </p>
      </div>
    </div>
  </div>
</footer>


