<!-- Header Start -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- header Nav Start -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="index.html">
              <img src="{{ site.baseurl }}/img/logo.jpg" alt="Logo">
            </a> -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse"
              id="bs-example-navbar-collapse-1"
            >
              <ul class="nav navbar-nav navbar-left">
                <li><a href="{{ site.baseurl }}/">The Weekend</a></li>
                <li>
                  <a href="{{ site.baseurl }}/the-big-day">The Big Day</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/getting-there">Getting There</a>
                </li>
                <li><a href="{{ site.baseurl }}/your-stay">Your Stay</a></li>

                <li><a href="{{ site.baseurl }}/gifts">Gift List</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- header close -->
